In [ ]:
%matplotlib inline
import matplotlib
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

import itertools

from sklearn.model_selection import train_test_split, StratifiedShuffleSplit, cross_val_score, GridSearchCV

from sklearn.preprocessing import LabelEncoder, StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, RandomForestClassifier, ExtraTreesClassifier
from sklearn.linear_model import SGDRegressor, BayesianRidge
from sklearn.metrics import mean_squared_error as mse
from sklearn.metrics import mean_absolute_error as mae
from sklearn.metrics import accuracy_score as acc
from sklearn.metrics import make_scorer, confusion_matrix
from sklearn.dummy import DummyRegressor, DummyClassifier

In [ ]:
df = pd.read_csv("https://raw.githubusercontent.com/albanda/ce888/master/lab3/bank-additional-full.csv", delimiter=";")

In [ ]:
df

       age          job  marital  ... euribor3m nr.employed    y
0       56    housemaid  married  ...     4.857      5191.0   no
1       57     services  married  ...     4.857      5191.0   no
2       37     services  married  ...     4.857      5191.0   no
3       40       admin.  married  ...     4.857      5191.0   no
4       56     services  married  ...     4.857      5191.0   no
...    ...          ...      ...  ...       ...         ...  ...
41183   73      retired  married  ...     1.028      4963.6  yes
41184   46  blue-collar  married  ...     1.028      4963.6   no
41185   56      retired  married  ...     1.028      4963.6   no
41186   44   technician  married  ...     1.028      4963.6  yes
41187   74      retired  married  ...     1.028      4963.6   no

[41188 rows x 21 columns]

In [ ]:
label_en = LabelEncoder()

In [ ]:
df['y']= label_en.fit_transform(df['y'])

In [ ]:
df['y'].unique()

array([0, 1])

In [ ]:
cat_dummies =  df[['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome']]

In [ ]:
 cat_dummies

               job  marital            education  ... month day_of_week     poutcome
0        housemaid  married             basic.4y  ...   may         mon  nonexistent
1         services  married          high.school  ...   may         mon  nonexistent
2         services  married          high.school  ...   may         mon  nonexistent
3           admin.  married             basic.6y  ...   may         mon  nonexistent
4         services  married          high.school  ...   may         mon  nonexistent
...            ...      ...                  ...  ...   ...         ...          ...
41183      retired  married  professional.course  ...   nov         fri  nonexistent
41184  blue-collar  married  professional.course  ...   nov         fri  nonexistent
41185      retired  married    university.degree  ...   nov         fri  nonexistent
41186   technician  married  professional.course  ...   nov         fri  nonexistent
41187      retired  married  professional.course  ...   nov         fri      failure

[41188 rows x 10 columns]

In [ ]:
df_dummies = pd.get_dummies(cat_dummies)

In [ ]:
df_dummies

       job_admin.  job_blue-collar  ...  poutcome_nonexistent  poutcome_success
0               0                0  ...                     1                 0
1               0                0  ...                     1                 0
2               0                0  ...                     1                 0
3               1                0  ...                     1                 0
4               0                0  ...                     1                 0
...           ...              ...  ...                   ...               ...
41183           0                0  ...                     1                 0
41184           0                1  ...                     1                 0
41185           0                0  ...                     1                 0
41186           0                0  ...                     1                 0
41187           0                0  ...                     0                 0

[41188 rows x 53 columns]

In [ ]:
df = pd.concat([df,df_dummies],axis=1)

In [ ]:
df

       age          job  ... poutcome_nonexistent poutcome_success
0       56    housemaid  ...                    1                0
1       57     services  ...                    1                0
2       37     services  ...                    1                0
3       40       admin.  ...                    1                0
4       56     services  ...                    1                0
...    ...          ...  ...                  ...              ...
41183   73      retired  ...                    1                0
41184   46  blue-collar  ...                    1                0
41185   56      retired  ...                    1                0
41186   44   technician  ...                    1                0
41187   74      retired  ...                    0                0

[41188 rows x 74 columns]

In [ ]:
df_new = df.drop(['job','marital','education','default','housing','loan','contact','month','day_of_week','poutcome','duration'],axis=1)

In [ ]:
df_new

       age  campaign  ...  poutcome_nonexistent  poutcome_success
0       56         1  ...                     1                 0
1       57         1  ...                     1                 0
2       37         1  ...                     1                 0
3       40         1  ...                     1                 0
4       56         1  ...                     1                 0
...    ...       ...  ...                   ...               ...
41183   73         1  ...                     1                 0
41184   46         1  ...                     1                 0
41185   56         2  ...                     1                 0
41186   44         1  ...                     1                 0
41187   74         3  ...                     0                 0

[41188 rows x 63 columns]

In [ ]:
y = df_new['y']

In [ ]:
y

0        0
1        0
2        0
3        0
4        0
        ..
41183    1
41184    0
41185    0
41186    1
41187    0
Name: y, Length: 41188, dtype: int64

In [ ]:
X = df_new.drop(('y'),axis=1)

In [ ]:
X

       age  campaign  ...  poutcome_nonexistent  poutcome_success
0       56         1  ...                     1                 0
1       57         1  ...                     1                 0
2       37         1  ...                     1                 0
3       40         1  ...                     1                 0
4       56         1  ...                     1                 0
...    ...       ...  ...                   ...               ...
41183   73         1  ...                     1                 0
41184   46         1  ...                     1                 0
41185   56         2  ...                     1                 0
41186   44         1  ...                     1                 0
41187   74         3  ...                     0                 0

[41188 rows x 62 columns]

In [ ]:
standard_scale = StandardScaler()

In [ ]:
X_train, X_test, y_train, y_test = train_test_split( X,y, test_size=0.2,random_state=50)

In [ ]:
X

array([[ 1.53303429, -0.56592197,  0.1954139 , ..., -0.3392905 ,
         0.39770593, -0.1857    ],
       [ 1.62899323, -0.56592197,  0.1954139 , ..., -0.3392905 ,
         0.39770593, -0.1857    ],
       [-0.29018564, -0.56592197,  0.1954139 , ..., -0.3392905 ,
         0.39770593, -0.1857    ],
       ...,
       [ 1.53303429, -0.20490853,  0.1954139 , ..., -0.3392905 ,
         0.39770593, -0.1857    ],
       [ 0.38152696, -0.56592197,  0.1954139 , ..., -0.3392905 ,
         0.39770593, -0.1857    ],
       [ 3.26029527,  0.15610492,  0.1954139 , ...,  2.94732687,
        -2.51442063, -0.1857    ]])

In [ ]:

import sklearn
print(sorted(sklearn.metrics.SCORERS.keys()))

['accuracy', 'adjusted_mutual_info_score', 'adjusted_rand_score', 'average_precision', 'balanced_accuracy', 'completeness_score', 'explained_variance', 'f1', 'f1_macro', 'f1_micro', 'f1_samples', 'f1_weighted', 'fowlkes_mallows_score', 'homogeneity_score', 'jaccard', 'jaccard_macro', 'jaccard_micro', 'jaccard_samples', 'jaccard_weighted', 'max_error', 'mutual_info_score', 'neg_brier_score', 'neg_log_loss', 'neg_mean_absolute_error', 'neg_mean_absolute_percentage_error', 'neg_mean_gamma_deviance', 'neg_mean_poisson_deviance', 'neg_mean_squared_error', 'neg_mean_squared_log_error', 'neg_median_absolute_error', 'neg_root_mean_squared_error', 'normalized_mutual_info_score', 'precision', 'precision_macro', 'precision_micro', 'precision_samples', 'precision_weighted', 'r2', 'rand_score', 'recall', 'recall_macro', 'recall_micro', 'recall_samples', 'recall_weighted', 'roc_auc', 'roc_auc_ovo', 'roc_auc_ovo_weighted', 'roc_auc_ovr', 'roc_auc_ovr_weighted', 'top_k_accuracy', 'v_measure_score']

In [ ]:
from sklearn.tree import DecisionTreeClassifier

In [ ]:
# dtc = DecisionTreeClassifier(class_weight={1:30}, min_samples_leaf=160, max_depth=10)

In [ ]:
# y_pred = dtc.fit(X_train,y_train)

In [ ]:
# y_pred = dtc.predict(X_test)

In [ ]:
from sklearn import metrics
# print(metrics.classification_report(y_pred,y_test))

In [ ]:
clf= RandomForestClassifier()

In [ ]:
y_pred = clf.fit(X_train,y_train)

In [ ]:
y_pred = clf.predict(X_test)

In [ ]:
print(metrics.classification_report(y_pred,y_test))

              precision    recall  f1-score   support

           0       0.97      0.91      0.94      7720
           1       0.28      0.52      0.37       518

    accuracy                           0.89      8238
   macro avg       0.62      0.71      0.65      8238
weighted avg       0.92      0.89      0.90      8238

In [ ]:
import pickle as pkl

In [ ]:
df_new.to_csv(r'C:\Users\Mohsin\OneDrive\Desktop\EssexUniversity\Data_Science_Decision_Making\Labs\lab_3\testset.csv',index=False)

In [ ]:
import os

In [ ]:
os.makedirs(r'test.csv', exist_ok=True)  
df_new.to_csv(r'Downloads\test.csv')

In [ ]:
from google.colab import files
files.download('test.csv')

In [ ]:
import pickle as pkl

outp = open('model.pkl', 'wb')
pkl.dump(clf, outp, -1)  # where clf is your classifier
outp.close()

In [ ]:
files.download('model.pkl')